@media all {
    .page-break {
        display: none;
    }
}

@media print {
    .page-portrait {
        size: letter portrait;
    }
    body {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        margin-left: 0;
        width: 100%;
        height: 100%;
    }
    * {
        color: #000;
        background-color: white !important;
        overflow: hidden;
        zoom: 100%;
        white-space: normal;
    }
    #header,
    #footer,
    .noprint,
    .header,
    .footer {
        display: none;
    }
    @page {
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        word-break: break-word;
    }
}

body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.text-content {
    font-size: 14px;
    width: 90%;
    display: block;
    margin-left: 0.8cm;
    margin-top: 0.5cm;
    margin-bottom: 0;
    word-break: break-all;
}

pre {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

table {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 14px;
}