<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="col-6 float-left">Menu</div>
            <div class="col-6 float-left">right</div>
        </div>
    </div>
    <div id="docViewer" #docViewer>
        <p>editor works!</p>
    </div>
</div>